<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's NBA Games</title>
</head>
<body>
    <h1>Today's NBA Games</h1>
    <ul>
        {% for game in games %}
            <li>
                {{ game["away_team"] }} @ {{ game["home_team"]}} at {{ game["game_time"]}}
                <strong>Win Probability:</strong><br>
                {{ game["away_team"] }}: {{ game["win_probabilities"][game["away_team"]] }}<br>
                {{ game["home_team"] }}: {{ game["win_probabilities"][game["home_team"]] }}
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('home') }}">
        <button>Back to Homepage</button>
    </a>
</body>
</html>
